.container-main {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
    margin: 0;
}

#gridContainer {
    display: grid;
    background-color: white;
    gap: 0;
    border: 2px solid black;
    margin-left: 100px;
    margin-right: 100px;
}

.square {
    width: 10px;
    height: 10px;
    border: 1px solid black;
}
.grostitre {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0px;
}
#clear-btn, #resize-btn {
    font-size: 20px;
    padding: 10px 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

#clear-btn:hover, #resize-btn:hover {
    background-color: rgb(158, 60, 70);
}